<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"  href="#"><i class="fab fa-github"i></i> GIT_SEARCH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink='/user'>SEARCH USER</a>
        <a class="nav-item nav-link" > </a>
      </div>
    </div>
  </nav>
  <p>{{user.login}}</p>
  <p>{{user.public_repos}}</p>
  <app-search-user></app-search-user> 
 <app-repos></app-repos> 
 <!--  -........->