  <!-- <h1>african</h1> -->
  <div class="container-fluid">
    <div class="col">
        <form #forms='ngForm'>
        <div class="input-group mb-3">
            <input [(ngModel)]='userName'#username='ngModel' type="text" class="form-control bg-transparent col-sm-6 offset-3" placeholder="Search GitHub user " aria-label="user" aria-describedby="basic-addon2" name="searchTerm" required>
            <div class="input-group-append">
                <button class="btn btn-outline-warning" (click)='getUserName()'type="button">submit </button>
            </div>
        </div>
    </form>
    </div>
</div>
<div *ngFor='let users of gitUser'>
   <h1>{{users.login}}</h1> 
   <h1>{{users.name}}</h1>
</div>
<div class="card"*ngFor='let repo of repos'>
    <h1>{{repo.name}}</h1>
</div>