<div class="container-fluid">
    <h1>REPOSITORIES.</h1>
     <div class="row">
        <div class="col-md-12">
            <div class="card-repo">
                <div >
                    <div class="card text-center"  >
                        <div class="card-header">
                                 <h5 class="card-title"></h5>
                         </div>
                        <div class="card-body">

                            <p class="card-text"> </p>

                            <p class="card-text"><i class="fa fa-file-code-o" aria-hidden="true" ></i>  </p>


                            <p class="card-text">CREATED:</p>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#" class="btn btn-outline-secondary"></a>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-outline-secondary"></button>
                                </div>
                                <div class="col-md-6">
                                    <a href=""> <button class="btn btn-outline-secondary">CLICK TO VIEW</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>